@using System.Share.Models
@using System.Share.ViewModels.LipstickClientViewModels
@model Pagination<ProductClientViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="dataContainer" class="row">
    @if (Model != null && Model.TotalItems > 0)
    {
        @foreach (var item in Model.Items)
        {
            <div class="col-6 col-sm-4 col-md-3 mb-4">
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_ProductPartialView.cshtml", item)
            </div>
        }
    }
    else
    {
        <div class="text-center">@_localizer["noData"]</div>
    }
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/_PaginationPartialView.cshtml")
<script>
    function loadData(pageIndex) {
        let parameters = {
                pageIndex: pageIndex,
                pageSize: '@Model.PageSize'
            };

        $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFavoriteProducts", "MyAccount")',
                data: parameters,
                success: function (res) {
                    if (res.ok) {
                        $('#dataContainer').html(res.data);
                        goTop();
                    }
                }
            });
    }
    $(document).ready(() => {
            createPagination(@Model.TotalPages, @Model.PageIndex, loadData, true);
    });
</script>