@model RecoverPasswordClientViewModel
@{
    // ViewData["Title"] = _localizer["recoverPassword"];
    ViewData["Title"] = ViewBag.Layout.PageIntro.Title;
    ViewData["Description"] = ViewBag.Layout.PageIntro.Content;
    ViewData["Image"] = ViewBag.Layout.PageIntro.ImageUrl ?? "/assets/images/lulusia1.png";
}

<div class="page-container">
    <div class="loginForm">
        <h4 class="text-center font-weight-600 text-uppercase mb-3">@_localizer["recoverPassword"]</h4>
        @* <p class="opacity-75">@_localizer["recoverPasswordMessage"]</p> *@
        <form asp-action="RecoverPassword" method="post">
            <div class="form-group mb-4">
                <label asp-for="PhoneNumber" class="control-label text-capitalize mb-1"><span class="ti-lock"></span> @_localizer["phoneNumber"]:</label>
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-submit text-capitalize mb-3">@_localizer["submit"]</button>
            <a asp-action="index" asp-controller="login" class="btn btn-primary w-100 fw-bold text-capitalize mb-2">@_localizer["backToLogin"]</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}